In [3]:
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("train.csv")
data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,bookingID
0,"Crystal Cove, Barbados Barbados",0,8,2019,January,2,10,0,4,2,...,314.0,NaN,0,Transient,38.40,0,0,Check-Out,2019-01-14,1
1,"Greensboro Courtyard Greensboro, NC",1,524,2018,December,51,15,0,2,2,...,1.0,NaN,0,Transient,62.80,0,0,Canceled,2017-10-21,2
2,"The Westin Peachtree Plaza, Atlanta Atlanta, GA",1,175,2019,May,20,19,1,2,2,...,12.0,NaN,0,Transient,110.00,0,0,Canceled,2018-11-25,3
3,Courtyard by Marriott Aberdeen Airport Aberdee...,0,0,2018,October,43,17,1,0,1,...,NaN,200.0,0,Transient,45.00,0,0,Check-Out,2018-10-18,4
4,"W New York – Union Square New York, NY",1,33,2017,September,39,26,2,3,2,...,16.0,NaN,0,Transient,57.92,0,1,Canceled,2017-08-24,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83288,"Crystal Cove, Barbados Barbados",0,4,2018,October,44,25,0,2,2,...,9.0,NaN,0,Transient,169.00,1,1,Check-Out,2018-10-27,83289
83289,"Berlin Marriott Hotel Berlin, Germany",0,30,2017,September,38,14,1,3,2,...,9.0,NaN,0,Transient,94.50,0,2,Check-Out,2017-09-18,83290
83290,"The Ritz-Carlton, Tokyo Tokyo, Japan",0,165,2019,June,25,21,4,10,2,...,NaN,NaN,0,Transient,123.50,0,1,Check-Out,2019-07-05,83291
83291,"Colony Club, Barbados Barbados",0,180,2018,July,32,31,2,4,2,...,9.0,NaN,0,Transient,122.25,0,1,Check-Out,2018-08-06,83292
83292,"Las Vegas Marriott Las Vegas, NV",0,290,2018,October,43,20,2,3,2,...,9.0,NaN,0,Transient-Party,90.95,0,0,Check-Out,2018-10-25,83293

In [6]:
data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'bookingID'],
      dtype='object')

In [12]:
data_test = pd.read_csv('test.csv')
data_test

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,bookingID
0,Fort Worth University Drive Courtyard Fort Wor...,46,2019,July,27,3,1,0,2,0.0,...,79.0,NaN,0,Transient,89.38,0,0,Canceled,2019-05-31,83293
1,Sacramento Airport Natomas Courtyard Sacrament...,98,2017,November,48,23,1,2,1,0.0,...,37.0,NaN,0,Transient-Party,70.00,0,0,Check-Out,2017-11-26,83294
2,Residence Inn Las Vegas Convention Center Las ...,171,2019,July,30,28,0,1,2,0.0,...,168.0,NaN,0,Transient,80.10,0,0,Check-Out,2019-07-29,83295
3,Courtyard by Marriott Rio de Janeiro Barra da ...,2,2018,January,1,2,0,1,2,0.0,...,240.0,NaN,0,Transient,66.00,0,1,Check-Out,2018-01-03,83296
4,"Leipzig Marriott Hotel Leipzig, Germany",167,2019,May,20,14,2,1,2,0.0,...,9.0,NaN,0,Transient,126.00,0,1,Canceled,2019-01-02,83297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35693,"Waves, Barbados Barbados",59,2018,March,14,28,1,3,2,0.0,...,9.0,NaN,0,Transient,85.85,0,1,Check-Out,2018-04-01,118986
35694,"Mt. Laurel Courtyard Mt. Laurel, NJ",62,2019,June,23,5,1,1,2,0.0,...,9.0,NaN,0,Transient,126.00,0,2,Canceled,2019-04-19,118987
35695,"Orlando Airport Courtyard Orlando, FL",114,2018,July,27,1,1,2,1,0.0,...,192.0,NaN,0,Transient,75.00,0,0,Canceled,2018-03-29,118988
35696,"Leipzig Marriott Hotel Leipzig, Germany",0,2018,February,7,8,1,0,2,0.0,...,NaN,NaN,0,Transient,65.00,0,0,Check-Out,2018-02-09,118989
35697,"Heidelberg Marriott Hotel Heidelberg, Germany",0,2017,August,35,24,1,0,2,2.0,...,NaN,NaN,0,Transient,153.00,0,0,Check-Out,2017-08-25,118990

In [8]:
#convert data to dataframe
df_train = pd.DataFrame(data=data, columns=data.columns)
df_train.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,bookingID
0,"Crystal Cove, Barbados Barbados",0,8,2019,January,2,10,0,4,2,...,314.0,NaN,0,Transient,38.40,0,0,Check-Out,2019-01-14,1
1,"Greensboro Courtyard Greensboro, NC",1,524,2018,December,51,15,0,2,2,...,1.0,NaN,0,Transient,62.80,0,0,Canceled,2017-10-21,2
2,"The Westin Peachtree Plaza, Atlanta Atlanta, GA",1,175,2019,May,20,19,1,2,2,...,12.0,NaN,0,Transient,110.00,0,0,Canceled,2018-11-25,3
3,Courtyard by Marriott Aberdeen Airport Aberdee...,0,0,2018,October,43,17,1,0,1,...,NaN,200.0,0,Transient,45.00,0,0,Check-Out,2018-10-18,4
4,"W New York – Union Square New York, NY",1,33,2017,September,39,26,2,3,2,...,16.0,NaN,0,Transient,57.92,0,1,Canceled,2017-08-24,5

In [10]:
#looking for missing values
missing_values = data.isnull().sum()
missing_values

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              3
babies                                0
meal                                  0
country                             346
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             11404
company                           78559
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
bookingID                             0
dtype: int64

In [11]:
data.shape

(83293, 33)

In [13]:
# Replace missing values with "None" in 'agent' and 'company' columns
df_train['agent'].fillna("None", inplace=True)
df_train['company'].fillna("None", inplace=True)

# Now the missing values have been replaced with "None"
print(df_train['agent'].isnull().sum())  # Should output 0
print(df_train['company'].isnull().sum())  # Should output 0

0
0

In [15]:
df_train.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,bookingID
0,"Crystal Cove, Barbados Barbados",0,8,2019,January,2,10,0,4,2,...,314.0,None,0,Transient,38.40,0,0,Check-Out,2019-01-14,1
1,"Greensboro Courtyard Greensboro, NC",1,524,2018,December,51,15,0,2,2,...,1.0,None,0,Transient,62.80,0,0,Canceled,2017-10-21,2
2,"The Westin Peachtree Plaza, Atlanta Atlanta, GA",1,175,2019,May,20,19,1,2,2,...,12.0,None,0,Transient,110.00,0,0,Canceled,2018-11-25,3
3,Courtyard by Marriott Aberdeen Airport Aberdee...,0,0,2018,October,43,17,1,0,1,...,None,200.0,0,Transient,45.00,0,0,Check-Out,2018-10-18,4
4,"W New York – Union Square New York, NY",1,33,2017,September,39,26,2,3,2,...,16.0,None,0,Transient,57.92,0,1,Canceled,2017-08-24,5

In [17]:
#select columns that will be used
selected_columns=['is_canceled','lead_time','arrival_date_month','stays_in_weekend_nights','stays_in_week_nights','adults','children','babies','previous_cancellations','previous_bookings_not_canceled','reserved_room_type','assigned_room_type','booking_changes','deposit_type','agent','company','customer_type','total_of_special_requests','adr','required_car_parking_spaces']
df_train = df_train[selected_columns]
df_train.head()

,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,customer_type,total_of_special_requests,adr,required_car_parking_spaces
0,0,8,January,0,4,2,0.0,0,0,0,A,A,0,No Deposit,314.0,None,Transient,0,38.40,0
1,1,524,December,0,2,2,0.0,0,0,0,A,A,0,Non Refund,1.0,None,Transient,0,62.80,0
2,1,175,May,1,2,2,0.0,0,0,0,A,A,0,Non Refund,12.0,None,Transient,0,110.00,0
3,0,0,October,1,0,1,0.0,0,0,0,A,A,0,No Deposit,None,200.0,Transient,0,45.00,0
4,1,33,September,2,3,2,0.0,0,0,0,A,A,0,No Deposit,16.0,None,Transient,1,57.92,0

In [52]:
#data cleaning by fill the missing values by mode
# Calculate the mode of the 'babies' column
babies_mode = df_train['babies'].mode()[0]

# Fill missing values in 'babies' with the mode
df_train['babies'].fillna(babies_mode, inplace=True)

# Now the missing values in 'babies' have been filled with the mode
print(df_train['babies'].isnull().sum())

0

In [54]:
#data cleaning by fill the missing values by mode
# Calculate the mode of the 'babies' column
child = df_train['children'].mode()[0]

# Fill missing values in 'children' with the mode
df_train['children'].fillna(child, inplace=True)

# Now the missing values in 'children' have been filled with the mode
print(df_train['children'].isnull().sum())

0

In [19]:
df_train.head()

,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,customer_type,total_of_special_requests,adr,required_car_parking_spaces
0,0,8,January,0,4,2,0.0,0,0,0,A,A,0,No Deposit,314.0,None,Transient,0,38.40,0
1,1,524,December,0,2,2,0.0,0,0,0,A,A,0,Non Refund,1.0,None,Transient,0,62.80,0
2,1,175,May,1,2,2,0.0,0,0,0,A,A,0,Non Refund,12.0,None,Transient,0,110.00,0
3,0,0,October,1,0,1,0.0,0,0,0,A,A,0,No Deposit,None,200.0,Transient,0,45.00,0
4,1,33,September,2,3,2,0.0,0,0,0,A,A,0,No Deposit,16.0,None,Transient,1,57.92,0

In [20]:
#feature engineering to create new feature cross
# Create the 'family_vs_solo_travel' feature
df_train['family_vs_solo_travel'] = df_train.apply(lambda row: 1 if row['children'] > 0 or row['babies'] > 0 else 0, axis=1)

# Now the 'family_vs_solo_travel' feature has been added to the DataFrame
print(df_train[['children', 'babies', 'family_vs_solo_travel']].head())

   children  babies  family_vs_solo_travel
0       0.0       0                      0
1       0.0       0                      0
2       0.0       0                      0
3       0.0       0                      0
4       0.0       0                      0

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19420\3842022853.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['family_vs_solo_travel'] = df_train.apply(lambda row: 1 if row['children'] > 0 or row['babies'] > 0 else 0, axis=1)

In [21]:
#feature engineering to create new feature cross
# Calculate historical cancellation rate for 'agent'
agent_cancel_rates = df_train.groupby('agent')['previous_cancellations', 'previous_bookings_not_canceled'].sum()
agent_cancel_rates['historical_cancellation_rate'] = agent_cancel_rates['previous_cancellations'] / (agent_cancel_rates['previous_cancellations'] + agent_cancel_rates['previous_bookings_not_canceled'])
agent_cancel_rates = agent_cancel_rates.drop(['previous_cancellations', 'previous_bookings_not_canceled'], axis=1)

# Calculate historical cancellation rate for 'company'
company_cancel_rates = df_train.groupby('company')['previous_cancellations', 'previous_bookings_not_canceled'].sum()
company_cancel_rates['historical_cancellation_rate'] = company_cancel_rates['previous_cancellations'] / (company_cancel_rates['previous_cancellations'] + company_cancel_rates['previous_bookings_not_canceled'])
company_cancel_rates = company_cancel_rates.drop(['previous_cancellations', 'previous_bookings_not_canceled'], axis=1)

# Merge historical cancellation rates back into the main dataset
df_train = df_train.merge(agent_cancel_rates, left_on='agent', right_index=True, how='left')
df_train = df_train.merge(company_cancel_rates, left_on='company', right_index=True, how='left')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19420\662151548.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  agent_cancel_rates = df_train.groupby('agent')['previous_cancellations', 'previous_bookings_not_canceled'].sum()
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19420\662151548.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  company_cancel_rates = df_train.groupby('company')['previous_cancellations', 'previous_bookings_not_canceled'].sum()

In [32]:
df_train.drop('customer_history', axis=1)

,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,...,deposit_type,agent,company,customer_type,total_of_special_requests,adr,required_car_parking_spaces,family_vs_solo_travel,historical_cancellation_rate_x,historical_cancellation_rate_y
0,0,8,January,0,4,2,0.0,0,0,0,...,No Deposit,314.0,None,Transient,0,38.40,0,0,0.042254,0.678658
1,1,524,December,0,2,2,0.0,0,0,0,...,Non Refund,1.0,None,Transient,0,62.80,0,0,0.986361,0.678658
2,1,175,May,1,2,2,0.0,0,0,0,...,Non Refund,12.0,None,Transient,0,110.00,0,0,0.000000,0.678658
3,0,0,October,1,0,1,0.0,0,0,0,...,No Deposit,None,200.0,Transient,0,45.00,0,0,0.152655,0.000000
4,1,33,September,2,3,2,0.0,0,0,0,...,No Deposit,16.0,None,Transient,1,57.92,0,0,0.500000,0.678658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83288,0,4,October,0,2,2,1.0,0,0,0,...,No Deposit,9.0,None,Transient,1,169.00,1,1,0.581792,0.678658
83289,0,30,September,1,3,2,0.0,0,0,0,...,No Deposit,9.0,None,Transient,2,94.50,0,0,0.581792,0.678658
83290,0,165,June,4,10,2,0.0,0,0,0,...,No Deposit,None,None,Transient,1,123.50,0,0,0.152655,0.678658
83291,0,180,July,2,4,2,1.0,0,0,0,...,No Deposit,9.0,None,Transient,1,122.25,0,1,0.581792,0.678658
83292,0,290,October,2,3,2,0.0,0,0,0,...,No Deposit,9.0,None,Transient-Party,0,90.95,0,0,0.581792,0.678658

In [59]:
df_train['agent'].head(50)

0     314.0
1       1.0
2      12.0
3      None
4      16.0
5       1.0
6       9.0
7       9.0
8     314.0
9       9.0
10      9.0
11     14.0
12     None
13     27.0
14     None
15      9.0
16      9.0
17    240.0
18      9.0
19     None
20      1.0
21    250.0
22      9.0
23    241.0
24      9.0
25    492.0
26    184.0
27    251.0
28    240.0
29     None
30      7.0
31    250.0
32      9.0
33     None
34     None
35    170.0
36     None
37      1.0
38     11.0
39     14.0
40    240.0
41      9.0
42    240.0
43     None
44     None
45      9.0
46     14.0
47     None
48    115.0
49      9.0
Name: agent, dtype: object

In [55]:
missing_values = df_train.isnull().sum()
missing_values

is_canceled                           0
lead_time                             0
arrival_date_month                    0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                                 0
company                               0
customer_type                         0
total_of_special_requests             0
adr                                   0
required_car_parking_spaces           0
family_vs_solo_travel                 0
historical_cancellation_rate_x        0
historical_cancellation_rate_y        0
customer_history                  76826
dtype: int64

In [72]:
df_train['historical_cancellation_rate_x'].fillna(0.0, inplace=True)
df_train['historical_cancellation_rate_y'].fillna(0.0, inplace=True)

In [75]:
missing_values = df_train.isnull().sum()
missing_values

is_canceled                           0
lead_time                             0
arrival_date_month                    0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                                 0
company                               0
customer_type                         0
total_of_special_requests             0
adr                                   0
required_car_parking_spaces           0
family_vs_solo_travel                 0
historical_cancellation_rate_x        0
historical_cancellation_rate_y        0
customer_history                  76826
dtype: int64

In [60]:
#convert object dtypes to categorical
# List of columns to convert to categorical
categorical_columns = ['arrival_date_month', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'agent', 'company', 'customer_type']

# Convert columns to categorical data type
df_train[categorical_columns] = df_train[categorical_columns].astype('category')

# Check the updated data types
print(df_train.dtypes)

is_canceled                          int64
lead_time                            int64
arrival_date_month                category
stays_in_weekend_nights              int64
stays_in_week_nights                 int64
adults                               int64
children                           float64
babies                               int64
previous_cancellations               int64
previous_bookings_not_canceled       int64
reserved_room_type                category
assigned_room_type                category
booking_changes                      int64
deposit_type                      category
agent                             category
company                           category
customer_type                     category
total_of_special_requests            int64
adr                                float64
required_car_parking_spaces          int64
family_vs_solo_travel                int64
historical_cancellation_rate_x      object
historical_cancellation_rate_y      object
customer_history                   float64
dtype: object

In [61]:
#convert categorical dtypes to numeric
# Columns to convert to numeric
numeric_conversion_columns = ['historical_cancellation_rate_x', 'historical_cancellation_rate_y']

# Remove non-numeric characters and convert to numeric
for column in numeric_conversion_columns:
    df_train[column] = pd.to_numeric(df_train[column].str.replace('[^0-9.]', ''), errors='coerce')

# Check the updated data types
print(df_train.dtypes)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19420\1148987000.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df_train[column] = pd.to_numeric(df_train[column].str.replace('[^0-9.]', ''), errors='coerce')

is_canceled                          int64
lead_time                            int64
arrival_date_month                category
stays_in_weekend_nights              int64
stays_in_week_nights                 int64
adults                               int64
children                           float64
babies                               int64
previous_cancellations               int64
previous_bookings_not_canceled       int64
reserved_room_type                category
assigned_room_type                category
booking_changes                      int64
deposit_type                      category
agent                             category
company                           category
customer_type                     category
total_of_special_requests            int64
adr                                float64
required_car_parking_spaces          int64
family_vs_solo_travel                int64
historical_cancellation_rate_x     float64
historical_cancellation_rate_y     float64
customer_history                   float64
dtype: object

In [67]:
#label encoder for the categorical dtypes
from sklearn.preprocessing import LabelEncoder

# Assuming your DataFrame is named 'data'
label_encoder = LabelEncoder()
# Convert categorical columns to numeric representation
for column in categorical_columns:
    df_train[column] = label_encoder.fit_transform(df_train[column].astype(str))

In [68]:
columns = ['is_canceled','customer_history']
#separate the features and target/label
X = df_train.drop(columns=columns, axis=1)
y = df_train['is_canceled']

In [76]:
missing_values = X.isnull().sum()
missing_values

lead_time                             0
arrival_date_month                    0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                                 0
company                               0
customer_type                         0
total_of_special_requests             0
adr                                   0
required_car_parking_spaces           0
family_vs_solo_travel                 0
historical_cancellation_rate_x    83293
historical_cancellation_rate_y    83293
dtype: int64

In [77]:
X['historical_cancellation_rate_x'].fillna(0.0, inplace=True)
X['historical_cancellation_rate_y'].fillna(0.0, inplace=True)

In [79]:
#modelling using logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

logreg = LogisticRegression(max_iter=1000, solver='lbfgs')

cross_val_scores = cross_val_score(logreg, X, y, cv=5, scoring='f1')

# Print cross-validation scores
print("Cross-Validation F1 Scores:", cross_val_scores)
print("Mean F1 Score:", cross_val_scores.mean())

c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Cross-Validation F1 Scores: [0.61396983 0.62435394 0.61656474 0.61178437 0.62186952]
Mean F1 Score: 0.617708479598176

c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [86]:
#modelling using decision tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

DT = DecisionTreeClassifier()

cross_val_scores = cross_val_score(DT, X, y, cv=5, scoring='f1')

# Print cross-validation scores
print("Cross-Validation F1 Scores:", cross_val_scores)
print("Mean F1 Score:", cross_val_scores.mean())

Cross-Validation F1 Scores: [0.7536815  0.75525489 0.75294118 0.74836628 0.7546534 ]
Mean F1 Score: 0.7529794494876245

In [88]:
#modelling using random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

RF = RandomForestClassifier()

cross_val_scores = cross_val_score(RF, X, y, cv=5, scoring='f1')

# Print cross-validation scores
print("Cross-Validation F1 Scores:", cross_val_scores)
print("Mean F1 Score:", cross_val_scores.mean())

Cross-Validation F1 Scores: [0.79797539 0.80045213 0.80360236 0.79993017 0.80583866]
Mean F1 Score: 0.8015597415260786

In [83]:
#convert the test dataset to dataframe
df_test = pd.DataFrame(data = data_test,columns=data.columns)

In [84]:
# Replace missing values with "None" in 'agent' and 'company' columns
df_train['agent'].fillna("None", inplace=True)
df_train['company'].fillna("None", inplace=True)

# Now the missing values have been replaced with "None"
print(df_train['agent'].isnull().sum())  # Should output 0
print(df_train['company'].isnull().sum())  # Should output 0

0
0

In [87]:
selected_columns=['lead_time','arrival_date_month','stays_in_weekend_nights','stays_in_week_nights','adults','children','babies','previous_cancellations','previous_bookings_not_canceled','reserved_room_type','assigned_room_type','booking_changes','deposit_type','agent','company','customer_type','total_of_special_requests','adr','required_car_parking_spaces']
df_test = df_test[selected_columns]
df_test.head()

,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,customer_type,total_of_special_requests,adr,required_car_parking_spaces
0,46,July,1,0,2,0.0,0,0,0,A,A,0,No Deposit,79.0,NaN,Transient,0,89.38,0
1,98,November,1,2,1,0.0,0,0,0,A,D,0,No Deposit,37.0,NaN,Transient-Party,0,70.00,0
2,171,July,0,1,2,0.0,0,0,0,A,A,1,No Deposit,168.0,NaN,Transient,0,80.10,0
3,2,January,0,1,2,0.0,0,0,0,E,F,0,No Deposit,240.0,NaN,Transient,1,66.00,0
4,167,May,2,1,2,0.0,0,0,0,A,A,0,No Deposit,9.0,NaN,Transient,1,126.00,0

In [89]:
# Calculate the mode of the 'babies' column
babies_mode = df_test['babies'].mode()[0]

# Fill missing values in 'babies' with the mode
df_test['babies'].fillna(babies_mode, inplace=True)

# Now the missing values in 'babies' have been filled with the mode
print(df_test['babies'].isnull().sum())

0

In [91]:
# Calculate the mode of the 'babies' column
child = df_test['children'].mode()[0]

# Fill missing values in 'children' with the mode
df_test['children'].fillna(child, inplace=True)

# Now the missing values in 'children' have been filled with the mode
print(df_test['children'].isnull().sum())

0

In [92]:
# Create the 'family_vs_solo_travel' feature
df_test['family_vs_solo_travel'] = df_test.apply(lambda row: 1 if row['children'] > 0 or row['babies'] > 0 else 0, axis=1)

# Now the 'family_vs_solo_travel' feature has been added to the DataFrame
print(df_test[['children', 'babies', 'family_vs_solo_travel']].head())

   children  babies  family_vs_solo_travel
0       0.0       0                      0
1       0.0       0                      0
2       0.0       0                      0
3       0.0       0                      0
4       0.0       0                      0

In [93]:
# Calculate historical cancellation rate for 'agent'
agent_cancel_rates = df_test.groupby('agent')['previous_cancellations', 'previous_bookings_not_canceled'].sum()
agent_cancel_rates['historical_cancellation_rate'] = agent_cancel_rates['previous_cancellations'] / (agent_cancel_rates['previous_cancellations'] + agent_cancel_rates['previous_bookings_not_canceled'])
agent_cancel_rates = agent_cancel_rates.drop(['previous_cancellations', 'previous_bookings_not_canceled'], axis=1)

# Calculate historical cancellation rate for 'company'
company_cancel_rates = df_test.groupby('company')['previous_cancellations', 'previous_bookings_not_canceled'].sum()
company_cancel_rates['historical_cancellation_rate'] = company_cancel_rates['previous_cancellations'] / (company_cancel_rates['previous_cancellations'] + company_cancel_rates['previous_bookings_not_canceled'])
company_cancel_rates = company_cancel_rates.drop(['previous_cancellations', 'previous_bookings_not_canceled'], axis=1)

# Merge historical cancellation rates back into the main dataset
df_test = df_test.merge(agent_cancel_rates, left_on='agent', right_index=True, how='left')
df_test = df_test.merge(company_cancel_rates, left_on='company', right_index=True, how='left')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19420\14767048.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  agent_cancel_rates = df_test.groupby('agent')['previous_cancellations', 'previous_bookings_not_canceled'].sum()
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19420\14767048.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  company_cancel_rates = df_test.groupby('company')['previous_cancellations', 'previous_bookings_not_canceled'].sum()

In [96]:
df_test['historical_cancellation_rate_x'].fillna(0.0, inplace=True)
df_test['historical_cancellation_rate_y'].fillna(0.0, inplace=True)

In [97]:
# List of columns to convert to categorical
categorical_columns = ['arrival_date_month', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'agent', 'company', 'customer_type']

# Convert columns to categorical data type
df_test[categorical_columns] = df_test[categorical_columns].astype('category')

# Check the updated data types
print(df_test.dtypes)

lead_time                            int64
arrival_date_month                category
stays_in_weekend_nights              int64
stays_in_week_nights                 int64
adults                               int64
children                           float64
babies                               int64
previous_cancellations               int64
previous_bookings_not_canceled       int64
reserved_room_type                category
assigned_room_type                category
booking_changes                      int64
deposit_type                      category
agent                             category
company                           category
customer_type                     category
total_of_special_requests            int64
adr                                float64
required_car_parking_spaces          int64
family_vs_solo_travel                int64
historical_cancellation_rate_x     float64
historical_cancellation_rate_y     float64
dtype: object

In [99]:

from sklearn.preprocessing import LabelEncoder

# Assuming your DataFrame is named 'data'
label_encoder = LabelEncoder()# Convert categorical columns to numeric representation
for column in categorical_columns:
    df_test[column] = label_encoder.fit_transform(df_test[column].astype(str))

In [100]:
df_test['historical_cancellation_rate_x'].fillna(0.0, inplace=True)
df_test['historical_cancellation_rate_y'].fillna(0.0, inplace=True)

In [107]:
#predict the test data using random forest
#0 mean not cancelled, 1 mean cancelled
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_predict

RF = RandomForestClassifier()

RF.fit(X, y)

# Make predictions on the test dataset (df_test)
predictions = RF.predict(df_test.head())

print(f"{predictions}")

[0 0 0 0 0]